html,body{
	font-family: 微軟正黑體, arial !important;

}

.d-inline{
	display: inline-block;
}

.white{
    color: white;
}
.cus-color-1{
	color: #FFBF0B;
}
.cus-color-2{
	color: #01559b;
}

.item-center{
	margin: auto;
}

.font-weight-bold{
	font-weight: bold;
}

.m-b-5{
	margin-bottom: 5px !important;
}

#mask{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999999;
    opacity: 1;
}

/* ================================================== */
/* Menu 子層項目 */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -25px;
    margin-left: 20px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.nav .open.dropdown-submenu>a, .nav .open.dropdown-submenu>a:hover, .nav .open.dropdown-submenu>a:focus {
    background: transparent;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

@media (max-width : 767px){
	.dropdown-submenu:not(.open)>.dropdown-menu {
		display: none;
	}
}

/* ================================================== */
body, p{
	font-family: 微軟正黑體, arial;
	font-weight: 400; 
	font-size: 14px;
	line-height: 1.6em;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 微軟正黑體, arial;
}

h1{
    font-size: 36px;
    line-height: 48px;
}

h2{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

h4{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

h5{
    font-size: 14px;
    line-height: 24px;
}

.navbar-brand{
	padding-top: 7px;
	padding-left:15px;
	padding-right:15px;
}

.navbar-brand .logo{
	width: 400px;
	height: 38px;
	background-size: contain !important;
    background-repeat: no-repeat;
}

.header-fixed .navbar-brand .logo{
	width: 350px !important;
  	height: 40px !important;
  	background-size: contain !important;
  	background-repeat: no-repeat;
}

.footer-nav li a:hover,.footer-nav li a:active{
	color: white;
	background: none;
}


/* ================================================== */

#team-wrapper {
    background-image: none;
	background-color: white;
	box-shadow: inset 0 0 0 1px #ffffff;
}

.team-carousel .team-img-wrapper {
  	position: relative;
  	text-align: center;
  	display: inline-block;
  	border: 5px solid rgba(0,0,0,0.09);
  	border-radius: 0;
}

.team-carousel .team-img-wrapper img {
  	width: 260px;
  	height: 260px;
    border-radius: 0;
}

.team-carousel .team-img-wrapper .social-icons {
  	top: 50%;
  	margin-top: -30px;
  	position: relative;
}

.team-carousel .team-img-wrapper .social-icons a {
  	border: 2px solid #FFFFFF;
  	border-radius: 100%;
  	color: #FFFFFF;
  	display: inline-block;
  	font-size: 18px;
  	margin: 0 6px;
 	width: 48px;
  	height: 48px;
  	line-height: 48px;
  	-webkit-transition: all 0.2s ease-out;
  	-moz-transition: all 0.2s ease-out;
  	-o-transition: all 0.2s ease-out;
  	transition: all 0.2s ease-out;
}

.team-carousel .team-img-wrapper .social-icons a:hover {
  	background: #fff;
}

.team-carousel .team-img-wrapper .social-icons i {
  	font-size: 20px;
}

.team-carousel .team-img-wrapper .team-img-wrapper-hover {
  	position: absolute;
  	text-align: center;
  	width: 100%;
  	height: 100%;
  	opacity: 0;
  	-webkit-transition: opacity 0.45s;
  	-moz-transition: opacity 0.45s;
  	-o-transition: opacity 0.45s;
  	transition: opacity 0.45s;
  	-webkit-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
}

.team-carousel .team-img-wrapper .team-img-wrapper-hover:hover {
  	opacity: 1;
}

.team-carousel .team-content{
	text-align: center;
}

.team-carousel .team-content h3.ts-name {
  	font-size: 20px;
  	line-height: normal;
  	margin-bottom: 0;
}

.team-carousel .team-content .ts-designation {
  font-size: 15px;
  color: #636363;
}

.team-carousel .team-content .ts-description {
  color: #636363;
}

.team-carousel .owl-controls .owl-buttons div{
	background: #fff !important;
	color: #bbb;
	font-size: 20px !important;
	margin-top: 30px;
}

.team-carousel .owl-controls .owl-buttons div:hover,
.team-carousel.team-page .owl-controls .owl-buttons div:hover{
	color: #fff;
}

.team-carousel.team-page .owl-controls .owl-buttons div{
	background: #f1f1f1;
}
.product-table table{
	border: 1px solid #e5e5e5;
}
.product-table thead th{
	background: #04367d;
    color: #fff;
}

@media (max-width : 767px){
	.navbar-brand {
		padding: 16px 15px 0;
		margin-bottom: -5px;
	}
	.navbar-brand .logo {
		width: 280px;
		height: 30px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.header-fixed .navbar-brand .logo{
		width: 280px !important;
		  height: 30px !important;
		  background-size: contain !important;
		  background-repeat: no-repeat;
	}

}

/*-- Carousel Text Box */
.carousel-box {
	margin-left: 10%;
}

.caption{
	border-bottom: 1px solid;
	padding-bottom: 20px;
	opacity: 0;
}

.caption-sub{
	opacity: 0;
    padding-top: 20px;
}

.carousel .item.active .caption.load-ok{
  -webkit-animation: fade-down 0.6s ease;
          animation: fade-down 0.6s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carousel .item.active .caption-sub.load-ok{
  -webkit-animation: fade-down-2 0.6s ease;
		  animation: fade-down-2 0.6s ease;
		  animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carousel .item .bg{
	width: 100%;
	height: 68vh;
	background-size: cover;
	background-position: top center;
}

.caption .super{
    font-size: 18rem;	
}

.slider-content .caption .sub{
    font-size: 1.8rem;	
}

.caption-sub{
    font-size: 1.8rem;	
}

.caption-sub span{
	margin-bottom: 5px;
	line-height: 2;
}

/*-- Animation */
@media (max-width: 1200px ) {
	.caption .super{
		font-size: 12rem;	
	}
	
	.slider-content .caption .sub{
		font-size: 1.5rem;	
	}
	
	.caption-sub{
		font-size: 1.5rem;	
	}
	.carousel .item .bg{
		height: 60vh;
	}
}


@media (max-width : 768px){
	.caption .super{
		font-size: 5rem;	
	}
	
	.slider-content .caption .sub{
		font-size: 0.7rem;	
	}
	.caption{
		padding-bottom: 10px;
	}

	.caption-sub{
		font-size: 0.7rem;	
	}
	#main-slide .slider-content{
		top: 40%
	}
	.carousel-box{
		margin-left: 16%;
	}
}


@-webkit-keyframes fade-down {
	0% {
	  -webkit-transform: translateY(-20%);
			  transform: translateY(-20%);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  
@keyframes fade-down {
	0% {
		-webkit-transform: translateY(-20%);
				transform: translateY(-20%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes fade-down-2 {
	0% {
	  -webkit-transform: translateY(-15%);
			  transform: translateY(-15%);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  
@keyframes fade-down-2 {
	0% {
		-webkit-transform: translateY(-15%);
				transform: translateY(-15%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 1;
	}
}
  